<h1>LunchExpress app</h1>

<div id="center_start">
<p>Please add your post code first</p>
<input type="textbox" id="address" value="London, UK">
<input type="button" value="Search" onclick="codeAddress()">
</div>

<div id="center_next">
<input type="button" value="Search the closer Shop" onclick="retrievePlaces()">
<div id="map_canvas" style="width: 700px; height: 600px;"></div>
</div>