<div id="main">
	
<div id="center_start">
<h1>LunchExpress app</h1>
<img class="logoimage" src="/images/logo_image.jpg" alt="logo">
<h2>Please digit your post code or full address:</h2>
<input type="textbox" id="address" value="SW1P 3JS or Westminster, London"  size="50" maxlength="100">
<input type="button" class="searchButton" value="Search" onclick="codeAddress()">
</div>

<div id="center_next">
	
<div id="buttons">
<input type="button" class="cupid-blue" value="Search the closer Shop" onclick="retrievePlaces()">
<input type="button" class="cupid-blue" value="Search a different place" onclick="window.location.reload()">
</div>

<div id="map_canvas" style="width: 700px; height: 700px;"></div>
</div>

</div>